@import '../../app/styles/vars.scss';

.title{
  font-size: 20px; 
  padding-left: 24px;
}

.socials{
  &_title{
    padding-left: 24px;
    margin-top: 15px;
    line-height: 31px;
    font-size: 13px;
    font-weight: 600;
  }
}
