@import '../../../app/styles/vars.scss';

.social{
  padding-left: 24px;
  display: flex;
  height: 62px;
  align-items:center;

  &:hover{
    background-color: $hover-32;
  }

  &:active{
    filter: brightness(1.5);
    transform: scale(0.98);
  }

  &.active{
    background: #004881 !important;
  }

  img{
    max-width: 32px;
    max-height: 32px;
  }

  .txtWrapper{
    margin-left: 12px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }

  &_signWays{
    color:gray; 
  }
}